<nav>
  <div class="icon-container">
    <div class="nav-icons">
      <a href="https://www.facebook.com/dorian.dumont.96" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://soundcloud.com/dorian-dumont" target="_blank">
        <i class="fa fa-soundcloud"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCQEGIwUjPFRUMo1_3W5ABmQ" target="_blank">
        <i class="fa fa-youtube-play"></i>
      </a>
      <a href="http://www.twitter.com/dodumont" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
  <div class="newsletter-signup">
    SIGN UP : __________________ <button>SUBMIT</button>
  </div>
</nav>
