<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="contact-image">
  <div class="image-title-agenda contact-title">Albums</div>
</div>


<div class="small-album-format">
  <div class="small-album-container-title">disques</div>
  <div class="small-albums-container">
    <div class="small-album-image-container">
      <img src="../../../assets/ambum.png" class="small-album-image">
      <div class="small-album-title">Easy Pieces - Plays 13</div>
    </div>
    <div class="small-album-image-container">
      <img src="../../../assets/doggy.png" class="small-album-image">
      <div class="small-album-title">Jens Maurits Orchestra -<br>They Do it For a Reason</div>
    </div>
    <div class="small-album-image-container">
      <img src="../../../assets/phil.png" class="small-album-image">
      <div class="small-album-title">Philémon, le chien qui ne voulait pas grandir</div>
    </div>
    <div class="small-album-image-container">
      <img src="../../../assets/empire.png" class="small-album-image">
      <div class="small-album-title">Blue Monday People - Empire of Matches</div>
    </div>
    <div class="small-album-image-container">
      <img src="../../../assets/dubtapes.png" class="small-album-image">
      <div class="small-album-title">Jens Maurits Orchestra -<br>The Dubtapes</div>
    </div>
    <div class="small-album-image-container">
      <img src="../../../assets/lift.png" class="small-album-image">
      <div class="small-album-title">Lift - 1st Floor</div>
    </div>
  </div>
</div>

<div class="large-album-format"></div>



<div class="small-album-format">
  <div class="small-album-container-title">e.p.(s)</div>
  <div class="small-albums-container">
    <div class="small-album-image-container">
      <img src="../../../assets/ambum.png" class="small-album-image">
      <div class="small-album-title">Easy Pieces - Plays 13</div>
    </div>
    <div class="small-album-image-container">
      <img src="../../../assets/love.png" class="small-album-image">
      <div class="small-album-title">Blue Monday People - Love</div>
    </div>
  </div>
</div>

</body>
</html>
