.projets-image {
  width: 100%;
}

.albums-image-title {
  bottom: 50px;
  left: 90px;
}

.large-album-format {
  margin: 0 150px 0 100px;
}

.small-album-format {

}

.small-album-container-title {
  text-transform: uppercase;
}

.small-albums-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 0 0;
}

.small-album-image-container {
  width: 150px;
  height: 180px;
  margin: 0 3px 3px 0;
  background-color: darkslategrey;

}

.small-album-image {
  position: relative;
  width: 130px;
  height: 130px;
  padding: 10px 0 0 10px;
  background-color: transparent;
}

.small-album-title {
  width: 100%;
  text-align: center;
  background-color: transparent;
  color: black;
  font-size: 11px;
}

.large-album-format {
  padding: 20px 0;
  display: flex;
  border-style: solid;
  border-color: white;
  border-width: 1px 0 1px 0;
  width: 100%;
  margin: 0 70px 0 0;
}

.large-image-container {
  margin: 0 15px 0 0;
}

.title {
  text-transform: uppercase;
}

.group {
  padding: 0 0 30px 0;
}

.label {
  font-size: 12px;
}




