.projets-image {
  width: 100%;
}

.projets-info {
  padding: 70px 0 30px 0;
  text-align: justify;
}

.albums-image-title {
  top: 5%;
  left: 2%;
}

.right-side {
  width: 27%;
}

.side-container {
  justify-content: space-between;
}

.small-album-container-title {
  text-transform: uppercase;
  width: 100%;
  background-color: #ffd624;
  margin: 0 0 10px 0;
  color: black;
  padding-top: 35%;
  padding-bottom: 35%;
  text-align: center;
}

.fa {
  color: black;
  padding: 0 0 0 4px;

}

.small-album-image {
  position: relative;
  width: 100%;
  background-color: transparent;
}


.large-album-format {
  padding: 10px 0;
  display: flex;
  border-style: solid;
  border-color: white;
  border-width: 1px 0 1px 0;
  width: 100%;
  margin: 30px 70px 0 0;
}

.large-image-container {
  margin: 0 15px 0 0;
}

.title {
  text-transform: uppercase;
}

.group {
  padding: 0 0 30px 0;
}

.label {
  font-size: 12px;
}

.large-image {
  width: 300px;
}

.small-album-image-container {
  cursor: pointer;
  padding: 0 0 6px 0;
}

.membre {
  text-transform: uppercase;
  padding: 0 0 5px 0;
  font-family: 'Amatic SC', Arial, cursive;
  font-size: 30px;
}


@media only screen and (min-width: 820px) {
  .right-side {
    width: 17%;
  }
}



