<div class="contact-image">
  <div class="image-title-agenda contact-title">Albums</div>
</div>

<div class="small-album-format">
  <div class="small-album-container-title">{{content.discTitle_Fr}}</div>
  <div class="small-albums-container">
    <div class="small-album-image-container" *ngFor="let album of content.discAlbum">
      <img src="{{album.image}}" class="small-album-image">
      <div class="small-album-title">{{album.title}}</div>
    </div>
  </div>
</div>

<div class="large-album-format" *ngFor="let album of content.largeAlbum">
  <div class="large-image-container">
    <img class="image" src="{{album.image}}">
    <div class="label">{{album.label}}</div>
  </div>
  <div class="large-album-content">
    <div class="title">{{album.title}}</div>
    <div class="group">{{album.group}}</div>
    <div class="musicians" *ngFor="let musician of album.musicians">{{musician.name}}: {{musician.instrument}}</div>
  </div>
</div>

<div class="small-album-format">
  <div class="small-album-container-title">{{content.epTitle_Fr}}</div>
  <div class="small-albums-container">
    <div class="small-album-image-container" *ngFor="let album of content.epAlbum">
      <img src="{{album.image}}" class="small-album-image">
      <div class="small-album-title">{{album.title}}</div>
    </div>
  </div>
</div>


