.name-banner {
  color: white;
  text-transform: uppercase;
  position: relative;
  height: 40px;
  padding: 0;
  font-size: 30px;
  letter-spacing: 0.3em;
  font-family: 'Amatic SC', Arial, cursive;
  text-align: left;
  width: 100%;
}

@media only screen and (min-width: 720px) {

  .name-banner {
    font-size: 50px;
    text-align: left;
  }

}

