<div class="side-container">
  <div class="left-side">
    <div class="contact-image">
      <img class="projets-image contact-image" src="../../../assets/dorian.jpg">
      <div class="image-title dorian-title">dorian</div>
    </div>
  </div>

  <div class="right-side">
    <div class="container-bio">

    </div>
  </div>
</div>

<div class="title">Sachez qu’après avoir lu tout ça vous ne saurez malheureusement pas tout sur Dorian Dumont (qui est un être complexe) mais vous en saurez tout de même plus que la plupart des gens. Ce qui est quand même pas mal, vous en conviendrez.
</div>
<p *ngFor="let paragraph of content.bio_fr">{{paragraph.par}}<br><br></p>
