* {

}
.contact-image {
  background-image: url(../../../assets/clown.jpg);
  background-position: center center;
  background-repeat: none;
  height: 300px;
  width: 400px;
  margin: 10px auto;
  position: relative;
}


.container-bio {
    width: 70%;
  margin: 0 auto;
}
