a:hover {
  color: #ffe700;
  cursor:pointer;
}

.dorian-title {
  bottom: 40px;
  left: 85px;
}


.title {
  padding: 10px 0 20px 0;
  font-size: 12px;
  text-align: justify;
}

#plus {
  padding: 0 3px 15px 5px;
}



