.presse-image-title {
  position: absolute;
  bottom: 70px;
  right: 20px;
  background-color: transparent;
  text-transform: uppercase;
  color: #ffe700;
  font-size: 30px;
}

.presse-content {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

input  {
  width: 200px;
}

button {
  background-color: white;
  border-style: solid;
  border-color: white;
  height: 18px;
  margin: 0 0 0 10px;
  display: inline-flex;
  align-items: center;
  line-height: 11px;
}
