<div class="side-container">
  <div class="left-side">
    <div class="presse-image-container">
      <div class="contact-image"><img class="presse-image contact-image" src="../../../assets/presse.jpg">
        <div class="presse-image-title image-title">presse</div>
      </div>
    </div>
  </div>
  <div class="right-side"></div>
</div>

<div class="presse-content">
  <div>{{content.construction_fr}}</div><br>
  <div>{{content.presse_joke_fr}} <input placeholder="{{content.chars_fr}}"> <button>SUBMIT</button></div><br><br><br>
  <div *ngFor="let presse of content.presse_fr">
    <div>{{presse.presse_poke_fr}}</div><br><br>
    <div *ngFor="let presse_content of presse.content_fr">
        {{presse_content.par}}
    </div>
  </div>
</div>
