<div class="presse-image-container">
  <div class="presse-image contact-image">
    <div class="presse-image-title">presse</div>
  </div>
</div>

<div class="presse-content">
  <div>{{content.construction_fr}}</div><br>
  <div>Si t’es pas content voici un espace pour t’exprimer : ________________SUBMIT (en 13 caractères maximum)</div><br><br><br>
  <div *ngFor="let presse of content.presse_fr">
    <div>{{presse.presse_poke_fr}}</div><br><br>
    <div *ngFor="let presse_content of presse.content_fr">
        {{presse_content.par}}
    </div>
  </div>
</div>
