.project-content {
  display: flex;
}


/*clique-donc*/
.projets-info {
  padding: 10px 0 0 0;
  font-family: 'Amatic SC', Arial, cursive;
}

.projets-image-title {
  bottom: 90px;
  left: 70px;
}


.projets-supra-container {
  width: 100%;
  padding: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}


.projets-container {
  width: 32%;
  position: relative;
  padding: 2px 0;
}

.projets-image {
  width: 100%;
}


.projet {
  width: 100%;
  font-size: 15px;
  position: absolute;
  text-align: center;
  bottom: 22%;
  left: 0;
  color: #ffe700;

}

.projet-image {
  width: 100%;
  cursor: pointer;
}

.title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 40px;
}

.project-image {
  height: 170px;
  padding: 0 20px 0 0;
}

.group-description {
  font-size: 12px;
}

.membre {
  text-transform: uppercase;
  padding: 0 0 5px 0;
  font-family: 'Amatic SC', Arial, cursive;
  font-size: 30px;
}

.projet-site {
  text-decoration: underline;
}

.additional {
  font-size: 12px;
  text-align: justify;
}

.audio-video-container {
  display: flex;
  justify-content: space-around;
  padding: 0 0 10px 0;
}

.audio, .video {
  width: 35%;
  background-color: salmon;
}
.eau {
  padding: 10px 0;
  font-family: 'Amatic SC', Arial, cursive;
  font-size: 22px;
  text-align: justify;
}

.convincing-text {
  font-size: 12px;
  text-algin: justify;
}

.buy {
  padding: 0 0 10px 0;
  font-size: 12px;
}

.album-name {
  text-decoration: underline;
}



