<div class="side-container">
  <div class="left-side">
    <div class="projets-image-container">
      <div class=" contact-image"> <img class="projets-image" src="../../../assets/projets.jpg">
        <div class="projets-image-title image-title">projets</div>
      </div>
    </div>
    <div *ngIf="selectedProject" class="large-album-format">
      <div class="title">{{selectedProject.title}}</div>
      <div class="project-content">
        <div class="project-image"><img src="{{selectedProject.image}}"></div>
        <div>
          <div class="membre">membres</div>
          <div class="group-description" *ngFor="let musician of selectedProject.musicians"><b>{{musician.name}}</b>: <i>{{musician.instrument}}</i></div>
        </div>
      </div>

      <div class="convincing-text">{{selectedProject.explanation}}</div>
      <div class="sound-cloud"></div>
      <div class="video"></div>
    </div>
  </div>

<div class="right-side">
  <div class="projets-info">{{content.projects_plus_fr}}</div>
  <div class="projets-supra-container">
    <div class="projets-container" *ngFor="let project of content.projets" (click)="onSelected(project)">
      <div class="projet">{{project.title}}<img src="{{project.image}}" class="projet-image"></div>
    </div>
  </div>
</div>



</div>





