<div class="projets-image-container">
  <div class="projets-image contact-image">
    <div class="projets-image-title">projets</div>
  </div>
</div>

<div class="projets-supra-container">
  <div class="projets-info">Clique sur une image si tu veux en savoir +</div>
  <div class="projects-container">
    <div class="projet">easy pieces <img src="../../../assets/easy-pieces.png" class="projet-image"></div>
    <div class="projet">echt<img src="../../../assets/echt.png" class="projet-image"></div>
    <div class="projet">JENS MAURITS ORCHESTRA<img src="../../../assets/blog.png" class="projet-image"></div>
    <div class="projet">philémon<img src="../../../assets/phil-group.png" class="projet-image"></div>
    <div class="projet">blue monday people<img src="../../../assets/blue.png" class="projet-image"></div>
    <div class="projet">effdé<img src="../../../assets/effde.png" class="projet-image"></div>
    <div class="projet">CHARLOTTE HAESEN 5TET<img src="../../../assets/charlotte.png" class="projet-image"></div>
    <div class="projet">KARIM GHARBI<img src="../../../assets/karim.png" class="projet-image"></div>
    <div class="projet">9 + 1<img src="../../../assets/9.png" class="projet-image"></div>

  </div>
</div>
