* {
}


.projets-image {
  background-image: url(../../../assets/projets.jpg);
}


.projets-image-title {
  position: absolute;
  bottom: 50px;
  left: 90px;
  background-color: transparent;
  text-transform: uppercase;
  color: #ffe700;
  font-size: 30px;
}


.projets-supra-container {
  width: 100%;
}


.projects-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.projet {
  width: 200px;
  height: 150px;
  margin: 15px;
  font-size: 15px;
}

.projet-image {
  width: 90%;
  margin: 7px 0 0 0;
  border-style: solid;
  border-width: 8px;
  border-color: white;
}
