<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="contact-image">
  <div class="image-title-agenda contact-title">Agenda</div>
</div>


<div class="concert-container">
  <div class="concert-container-title"> Concerts du futur </div>
    <div class="table-heading table">
      <div class="date"> Date </div>
      <div class="place">Lieu</div>
      <a href="#" class="projet">Projet</a>
    </div>
    <div class="table-contents table">
      <div class="table-row">
        <div class="date">27.03.17</div>
        <a href="#" class="place">Jazzstation - Bruxelles</a>
        <a href="#" class="projet">PHILÉMON</a>
      </div>
      <div class="table-row">
        <div class="date">29.03.17</div>
        <a href="#" class="place">De Brakke Gond - Amsterdam</a>
        <a href="#" class="projet">J.M.O. THE BLOGPERA</a>
      </div>
      <div class="table-row">
        <div class="date">02.05.17</div>
        <a href="#" class="place">Sounds - Bruxelles</a>
        <a href="#" class="projet">EASY PIECES</a>
      </div>
      <div class="table-row">
        <div class="date">03.05.17</div>
        <a href="#" class="place">Atelier Vert - Bruxelles</a>
        <a href="#" class="projet">CHARLOTTE HAESEN QUINTET</a>
      </div>
    </div>
</div>

<div class="concert-container">
  <div class="concert-container-title">Concerts du passé</div>
    <div class="table-heading table">
      <div class="date"> Date </div>
      <div class="place">Lieu</div>
      <a href="#" class="projet">Projet</a>
    </div>
    <div class="table-contents table">
      <div class="table-row">
        <div class="date">27.03.17</div>
        <a href="#" class="place">Jazzstation - Bruxelles</a>
        <a href="#" class="projet">PHILÉMON</a>
      </div>
      <div class="table-row">
        <div class="date">29.03.17</div>
        <a href="#" class="place">De Brakke Gond - Amsterdam</a>
        <a href="#" class="projet">J.M.O. THE BLOGPERA</a>
      </div>
      <div class="table-row">
        <div class="date">02.05.17</div>
        <a href="#" class="place">Sounds - Bruxelles</a>
        <a href="#" class="projet">EASY PIECES</a>
      </div>
      <div class="table-row">
        <div class="date">03.05.17</div>
        <a href="#" class="place">Atelier Vert - Bruxelles</a>
        <a href="#" class="projet">CHARLOTTE HAESEN QUINTET</a>
      </div>
      <div class="table-row">
        <div class="date">03.05.17</div>
        <a href="#" class="place">Atelier Vert - Bruxelles</a>
        <a href="#" class="projet">CHARLOTTE HAESEN QUINTET</a>
      </div>
      <div class="table-row">
        <div class="date">03.05.17</div>
        <a href="#" class="place">Atelier Vert - Bruxelles</a>
        <a href="#" class="projet">CHARLOTTE HAESEN QUINTET</a>
      </div>
      <div class="table-row">
        <div class="date">03.05.17</div>
        <a href="#" class="place">Atelier Vert - Bruxelles</a>
        <a href="#" class="projet">CHARLOTTE HAESEN QUINTET</a>
      </div>
      <div class="table-row">
        <div class="date">03.05.17</div>
        <a href="#" class="place">Atelier Vert - Bruxelles</a>
        <a href="#" class="projet">CHARLOTTE HAESEN QUINTET</a>
      </div>
    </div>
</div>


</body>
</html>
