<div class="side-container">
  <div class="left-side">
    <div class="contact-image"><img class="contact-image" src="../../../assets/agenda.jpg">
      <div class="agenda-image-title image-title">Agenda</div>
    </div>
  </div>
  <div class="right-side"></div>
</div>

<div class="concert-container">
  <div class="concert-container-title"> {{content.concertDatesTitle_Fr}} </div>
  <div class="table-heading table" *ngFor="let title of content.tableTitle_Fr">
      <div class="date"> {{title.date}} </div>
      <div class="place">{{title.place}}</div>
      <a href="#" class="projet">{{title.project}}</a>
  </div>
  <div  class="table-contents table">
    <div *ngFor="let concert of content.concertDates" class="table-row">
      <div class="date"> {{concert.date}} </div>
      <a href="{{concert.venueLink}}" class="place" target="_blank">{{concert.venue}}</a>
      <a href="{{concert.artistLink}}" class="projet" target="_blank">{{concert.artist}}</a>
    </div>
  </div>
</div>


<div class="concert-container">
  <div class="concert-container-title">{{content.pastConcertDatesTitle_Fr}}</div>
  <div class="table-heading table" *ngFor="let title of content.tableTitle_Fr">
    <div class="date"> {{title.date}} </div>
    <div class="place">{{title.place}}</div>
    <a href="#" class="projet">{{title.project}}</a>
  </div>
  <div  class="table-contents table">
    <div *ngFor="let concert of content.pastConcertDates" class="table-row">
      <div class="date"> {{concert.date}} </div>
      <a href="{{concert.venueLink}}" class="place" target="_blank">{{concert.venue}}</a>
      <a href="{{concert.artistLink}}" class="projet" target="_blank">{{concert.artist}}</a>
    </div>
  </div>
</div>

