.language-element-container {
  width: 100%;
  background-color: purple;
  height: 40px;

}

.language-elements {
  background-color: green;
  width: 30%;
  float: right;
  position: relative;
  display: flex;
  height: 40px;
  padding: 0 20px 0 0;
  justify-content: flex-end;
  align-items: center;
}

.language-element {
  padding: 0 3px;
  color: white;
  background-color: pink;

}
