.language-element-container {
  width: 100%;
  height: 40px;

}

.language-elements {
  width: 30%;
  float: right;
  position: relative;
  display: flex;
  height: 40px;
  padding: 0 20px 0 0;
  justify-content: flex-end;
  align-items: center;
}

.language-element {
  padding: 0 3px;
  color: white;
}
