<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="bottom-banner">
  <div class="container-bottom-nav">
    <a routerLink="/" class="nav-element"> home </a>
    <!--<a routerLink="/news" class="nav-element"> news </a>-->
    <a routerLink="/dorian" class="nav-element"> bio </a>
    <a routerLink="/projets" class="nav-element"> projets </a>
    <a routerLink="/musique" class="nav-element"> musique </a>
    <a routerLink="/discographie" class="nav-element"> albums </a>
    <!--<a routerLink="/presse" class="nav-element"> presse </a>-->
    <a routerLink="/agenda" class="nav-element"> agenda </a>
    <a routerLink="/bonus" class="nav-element"> bonus ?! </a>
    <a routerLink="/contact" class="nav-element"> contact </a>
  </div>
</div>

</body>
</html>
