

<div class="side-container">
  <div class="left-side">
    <div class="bonus-image-container">
      <div class="contact-image bonus-image"><img class="contact-image" src="../../../assets/bonus.jpg">
        <div class="bonus-image-title image-title">bonus?!</div>
      </div>
    </div>
  </div>
  <div class="right-side"></div>
</div>

<div class="bonus-content">

  <div class="gallerie">
    <div class="gallerie-title">
    <a href="https://www.facebook.com/dorian.dumont.96" target="_blank">
      <i class="fa fa-wpexplorer"></i>
    </a>
      <div class="title">{{content.gallery_fr}}</div>
      <div (click)="toggleHighlight(1)"><i id="gallerie" class="fa fa-plus"></i></div>
    </div>
    <div class="content invisible" [ngClass]="{'appear': highlightedDiv === 1 }">Under Construction :(</div>
  </div>

<div class="chic">
  <div class="chic-title">
    <a href="https://www.facebook.com/dorian.dumont.96" target="_blank">
      <i class="fa fa-grav"></i>
    </a>
    <div class="title"> {{content.chic_fr}}</div>
    <div (click)="toggleHighlight(2)"><i id="chic" class="fa fa-plus"></i></div>
  </div>
  <div class="content invisible" [ngClass]="{'appear': highlightedDiv === 2 }">Under Construction :(</div>
</div>

<div class="jouez-moi">
  <div class="jouez-moi-title">
    <a><i class="fa fa-cubes"></i></a>
    <div class="title">{{content.jouez_moi_fr}}</div>
    <div (click)="toggleHighlight(3)"><i id="moi" class="fa fa-plus"></i></div>
  </div>
  <div class="content invisible" [ngClass]="{'appear': highlightedDiv === 3 }">
    <div class="pdf-block">
      <a class="pdf" href="{{les.pdf}}" target="_blank" *ngFor="let les of content.jouez_moi_pdf"><div>{{les.title}}</div><img class="pdf-image" src="{{les.img}}"></a>
      </div>
  </div>
</div>

<div class="jouez-lez">
  <div class="jouez-lez-title">
    <a href="https://www.facebook.com/dorian.dumont.96" target="_blank">
      <i class="fa fa-barcode"></i>
    </a>
    <div class="title">{{content.jouez_les_fr}}</div>
    <div (click)="toggleHighlight(4)"><i id="les" class="fa fa-plus"></i></div>
  </div>
<div class="content invisible" [ngClass]="{'appear': highlightedDiv === 4 }">
  <div class="pdf-block">
    <a class="pdf" href="{{les.pdf}}" target="_blank" *ngFor="let les of content.jouez_les_pdf"><div>{{les.title}}</div><img class="pdf-image" src="{{les.img}}"></a>
  </div>
</div>
</div>

<div class="thanks">
  <div class="thanks-title">
  <a href="https://www.facebook.com/dorian.dumont.96" target="_blank">
    <i class="fa fa-hand-peace-o"></i>
  </a>
    <div class="title">{{content.thanks_title_fr}}</div>
    <div (click)="toggleHighlight(5)"></div>
  </div>
  <div class="content invisible" [ngClass]="{'appear': highlightedDiv === 5 }">

  </div>
</div>
</div>

<div *ngFor="let thank of content.thanks_fr">
  <div class="thanks-par"> <div *ngFor="let paragraph of thank.section_one">{{paragraph.par}}</div></div>
  <div class="thanks-par"> <div *ngFor="let paragraph of thank.section_two">{{paragraph.par}}</div></div>
  <div class="thanks-par"> <div *ngFor="let paragraph of thank.section_three">{{paragraph.par}}</div></div>
  <div class="thanks-par"> <div *ngFor="let paragraph of thank.section_four">{{paragraph.par}}</div></div>
  <div class="thanks-par"> <div *ngFor="let paragraph of thank.section_five">{{paragraph.par}}</div></div>
  <div class="thanks-par"> <div *ngFor="let paragraph of thank.section_six">{{paragraph.par}}</div></div>
  <div class="thanks-par"> <div *ngFor="let paragraph of thank.section_seven">{{paragraph.par}}</div></div>
  <div class="thanks-par"> <div *ngFor="let paragraph of thank.section_eight">{{paragraph.par}}</div></div>
  <div class="thanks-par"> <div *ngFor="let paragraph of thank.section_nine">{{paragraph.par}}</div></div>
</div>






