
<!--<a href="https://www.facebook.com/dorian.dumont.96" target="_blank">
  <i class="fa fa-times"></i>
</a>-->

<div class="bonus-image-container">
  <div class="bonus-image contact-image">
    <div class="bonus-image-title">bonus?!</div>
  </div>
</div>

<div class="bonus-content">

  <div class="gallerie">
    <div class="gallerie-title">
    <a href="https://www.facebook.com/dorian.dumont.96" target="_blank">
      <i class="fa fa-plug"></i>
    </a>
      <div class="title">gallerie</div>
    </div>
    <div class="content"></div>
  </div>

<div class="">
  <div class="{{content.bonus}}-title">
    <a href="https://www.facebook.com/dorian.dumont.96" target="_blank">
      <i class="fa fa-space-shuttle"></i>
    </a>
    <div class="title"> LE CHIC CLIC DU MOIS SELON MOI</div>
  </div>
  <div class="content"></div>
</div>

<div class="jouez-moi">
  <div class="jouez-moi-title">
    <a href="https://www.facebook.com/dorian.dumont.96" target="_blank">
      <i class="fa fa-bullhorn"></i>
    </a>
    <div class="title">jouez-moi</div>
  </div>
  <div class="content"></div>
</div>

<div class="jouez-lez">
  <div class="jouez-lez-title">
    <a href="https://www.facebook.com/dorian.dumont.96" target="_blank">
      <i class="fa fa-diamond"></i>
    </a>
    <div class="title">jouez-les</div>
  </div>
<div class="content"></div>
</div>

<div class="thanks">
  <div class="thanks-title">
  <a href="https://www.facebook.com/dorian.dumont.96" target="_blank">
    <i class="fa fa-dashboard"></i>
  </a>
    <div class="title">remerciements</div>
  </div>
  <div class="content"></div>
</div>

</div>
