<div class="left-panel">
<div class="icon-box-home"><i class="fa fa-cloud"></i></div>
<div class="left-concerts-a-venir">
  <h2 class="bottom-title">Concerts à venir</h2>
  <a href="#" class="left-concert" target="_blank">{{content?.concertDates? content.concertDates[0].date : null | json}}</a>
  <a href="#" class="left-concert" target="_blank">{{content?.concertDates? content.concertDates[1].date : null | json}}</a>
  <a href="#" class="left-concert" target="_blank">{{content?.concertDates? content.concertDates[2].date : null | json}}</a>
  <a routerLink="/agenda" id="voire-list" class="lire-plus">{{content.voir_fr}}</a>
</div>
<div class="a-propos">
  <h2 class="bottom-title">{{content.a_propos_fr}}</h2>
  <div class="a-propos-content">
    <div *ngFor="let paragraph of content.a_propos_content_fr">{{paragraph.par}}</div>
    <div id="propos">
      <a routerLink="/dorian" class="lire-plus">{{content.lire_plus_fr}}</a>
    </div>
  </div>
</div>

<div class="press">
  <h2 class="bottom-title">{{content.presse_left_fr}}</h2>
  <a routerLink="/presse" class="lire-plus">{{content.lire_nouvelles_fr}}</a>
</div>

<div>
  <h2 class="bottom-title">{{content.news}}</h2>
  <a routerLink="/presse" class="lire-plus">{{content.lire_nouvelles_fr}}</a>
</div>
<div class="new-album-container">
  <div>{{content.dernier_album_titre_fr}}</div>
  <div>{{content.album_groupe}}</div>
  <div>{{content.album_titre}}</div>

</div>
<div>
  <h2 class="bottom-title">{{content.video_moment_fr}}</h2>
  <iframe width="100%"  frameborder="0" allowfullscreen></iframe>
</div>
<div>
  <h2 class="bottom-title">{{content.audio_moment_fr}}</h2>
  <iframe width="100%" height="200px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/296081575&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</div>
<div>
  <h2 class="bottom-title">{{content.left_comment_fr}}</h2>
</div>
</div>

