
.left-panel {
  display: none;
}

@media only screen and (min-width: 720px) {
  .left-panel {
    display: block;
  }

  .bottom-title {
    padding: 4px 0 2px 0;
    margin: 0;
  }

  .icon-box-home {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .fa {
    font-size: 80px;
    color: #ffe700;
    text-align: center;
    width: 100%;
  }

  .left-block a {
    text-decoration: none;
    color: white;
    text-transform: none;
  }

  a:hover {
    color: #ffe700;
  }

  .left-concerts-a-venir {
    display: block;
  }

  .left-concert {
    display: block;
    font-size: 12px;
    color: white;
  }

  #propos {
    margin: 5px 0 0 0;
  }

  .a-propos-content {
    font-size: 12px;
    text-align: justify;
    text-transform: none;
  }

  .lire-plus {
    text-decoration: underline;
    font-size: 14px;
  }
}
