.musique-image {
}


.musique-image-title {
  bottom: 200px;
  left: 90px;
}

.musique-sound-cloud-container, .musique-youtube-container {
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
}


.bottom-title {
  text-transform: uppercase;
  width: 100px;
  padding: 5px 0 10px 0;
  text-align: center;
}

.video, .sound-cloud {
    padding: 0 0 10px 0;
}

.youtube-links, .sound-cloud-links {
  width: 100%;
  padding: 2px 0;
  text-align: left;
}
