
.contact-image {
  position: relative;
}

.contact-title {
  top: 73%;
  right: 33%;
}

.contact-info-container {
  height: 90px;
  width: 400px;
  margin: 80px auto 0 auto;
  text-align: center;
  border-style: solid;
  border-width: 1px 0;
  border-color: white;
  font-size: 15px;

}

.contact-info {
    padding: 15px 0 0 0;
}

.icon-container {
  width: 400px;
  display: flex;
  height: 20px;
  font-size: 20px;
  justify-content: space-around;
  padding: 15px 0 0 0;
}
