
<div class="dorian-home">
  <div class="dorian-image"></div>
</div>

<div class="video-supra-container">
  <div class="video-container">
    <iframe width="700" height="393.75" src="https://www.youtube.com/embed/V2F5oGlWcII" frameborder="0" allowfullscreen></iframe>
  </div>
</div>


<div class="bottom-home-main-container">
  <div class="bottom-home-title">{{content.new_fresh_fr}}</div>
  <div class="nouvelle-fraiche" *ngFor="let paragraph of content.new_fresh_content_fr">
    <div  *ngFor="let content of paragraph.new_content">{{content.par}}</div>
    <img class="image-home-bottom-nouvelles" src="{{paragraph.image}}">
  </div>
</div>
