
<div class="dorian-home">
  <div class="dorian-image"></div>
</div>

<div class="video-supra-container">
  <div class="video-container">
    <iframe width="700" height="393.75" src="https://www.youtube.com/embed/V2F5oGlWcII" frameborder="0" allowfullscreen></iframe>
  </div>
</div>


<div class="bottom-home-main-container">
  <div class="bottom-home-title">nouvelles fraîches</div>
  <div class="nouvelle-fraiche">  <div>28 avril 2017, 09h13,</div><div>En plein mixage pour l’album d’EASY PIECES</div></div>
  <div class="nouvelle-fraiche">  <div>25 avril 2017, 11h23,</div> <div>Résidence avec le groupe EFFDÉ</div></div>
  <div class="nouvelle-fraiche">  <div> 20 avril 2017, 16h46,</div> <div>fin des 3 jours de studio avec EASY PIECES</div>
    <div class="image-home-bottom-nouvelles"></div>
  </div>
  <div class="nouvelle-fraiche">  <div>19 avril 2017, 22h09,</div> <div>Le site est tout frais tout chaud et vient de s’ouvrir!</div>
    <div>Joie.</div> <div>Je suis tout excité.</div><div></div>
    <div>Un grand merci à Nicole Miller pour son travail.</div>Une femme d’exception (n’ayons pas peur des mots)</div>
</div>
