* {
  font-family: 'Arsenal', Arial, cursive;
}

h2 {
  font-family: 'Amatic SC', Arial, cursive;
  font-size: 30px;
  padding: 0;
}

p {
  font-size: 11px;
  text-align: justify;
}

body {
  padding: 10px 0 0 0;
  margin: 0 auto;
  background-color: black;
  color: white;
  width: 90%;
}

a {
    text-decoration: none;
  color: white;
}

a:hover {
  color: #ffd624;
}


.contact-image {
  width: 100%;
  position: relative;
}

.image-title {
  position: absolute;
  background-color: transparent;
  text-transform: uppercase;
  color: #ffd624;
  font-size: 30px;
  font-family: Arial Black, arial, sans-serif;
  letter-spacing: 0.10em;
}

.side-container {
  display: flex;
}

    .left-side {
      width: 65%;
      padding: 0 20px 0 0;
    }

    .right-side {
      width: 35%;
    }

.left-panel {
  display: none;
}


@media only screen and (min-width: 820px) {
  .left-panel {
    display: block;
  }

  body {
    padding: 10px 0 0 0;
    margin: 0 auto;
    background-color: black;
    color: white;
    width: 75%;
  }

}
