* {
  font-family: 'Arsenal', Arial, cursive;
}

body {
  padding: 10px 0 0 0 0;
  margin: 0 auto;
  background-color: black;
  color: white;
  width: 70%;
}

a {
    text-decoration: none;
  color: white;
}

a:hover {
  color: #ffe700;
}


.contact-image {
  width: 100%;
  position: relative;
}

.image-title {
  position: absolute;
  background-color: transparent;
  text-transform: uppercase;
  color: #ffe700;
  font-size: 30px;
}

.side-container {
  display: flex;
}

.left-side {
  width: 75%;
  padding: 0 20px 0 0;
}

.right-side {
  width: 25%;
}

