.panel-container {
  display: flex;
}

.left-panel {
  width: 0%;
  padding: 0;
}

.right-panel {
  width: 100%;
}

.new-album-left {
  padding: 10px 0 20px 0;
}


@media only screen and (min-width: 820px) {
  .left-panel {
    width: 20%;
    padding: 0 20px 0 0;
  }

  .right-panel {
    width: 80%;
  }

}
