
  .icon-box-home {
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .fa {
    font-size: 80px;
    color: #ffd624;
    text-align: center;
    width: 100%;
  }

  .left-block a {
    text-decoration: none;
    color: white;
    text-transform: none;
  }

  .left-concerts-a-venir {
    display: block;
  }

  .left-concert {
    display: block;
    font-size: 13px;
  }

  .a-propos-content {
    font-size: 13px;
    text-align: justify;
    text-transform: none;
    margin: 0;
    padding: 0;
  }

  .disc-title {
    font-style: italic;
  }

  .lire-plus {
    text-decoration: underline;
    font-size: 14px;
  }

  .left-panel {
      margin-top: 150px;
  }

  .left-panel a {
    text-decoration: underline;
    font-size: 14px;
    color: white;
  }

  .left-panel a:hover {
    color: #F2CC45;
  }

  .new-album-container img {
    width: 50%;
  }

  .disc-link {
    padding-bottom: 10px;
  }
  h2 {
    font-style: normal;
  }




