$yellow-color: #ffe700;
$background-color: black;
$navigation-color: black;
$text-color: white;
$link-hover-color: #ffe700;

body {
  padding: 0;
  margin: 0;
    background-color: gree ;
  font-family: 'Daniel';
  -webkit-animation: bugfix infinite 1s;
  height: calc(100% - 10px);
}


.top-home {
    /*background-image: url(../assets/unnamed.jpg);
        background-size: cover;
        background-position: center center;*/
        width: 100%;
        position: relative;
        display: block;

    nav {
        background-color: $navigation-color;
        display: block;
        position: relative;
        color: white;

        .nav-icons {
            display: flex;
            padding: 0 0 0 30px;
            background-color: white;

            #twitter {
                padding: 7.5px;
                width: 15px;
            }

            #youtube {
                width: 25px;
                padding: 2.5px;
                }

            #sound {
                width: 30px;

               }

            #fb {
                width: 22px;
                padding: 4px;
                }
            }
        .newsletter-signup {
                padding: 6px 30px 0 0;
        }


        }

    .language {
        height: 25px;
        width: 100%;
        background-color: $navigation-color;

        .language-element-container {
            float: right;
            display: flex;
            padding: 0 30px 0 0;
            background-color: $navigation-color;

            .language-element {
                padding: 0 3px;
                color: white;
            }
        }

    }

}

.bottom-container {
    display: flex;
    .bottom-title {
        display: block;
        font-size: 20px;
        text-transform: uppercase;
        padding: 0 0 5px 0;
    }

    .left-block {
        padding: 0 20px 0 20px;
        color: $text-color;
        width: 20%;
        background-color: $navigation-color;

        .icon-box-home {
            height: 115px;
            width: 100%;
            background-color: green;
        }
        .icon-box-away{
            height: 115px;
            width: 100%;
            background-color: pink;
        }

        a {
            text-decoration: none;
            color: $text-color;
            text-transform: none;
        }

        a:hover {
            color: $link-hover-color;
        }

        .left-concerts-a-venir {
            display: block;
            font-size: 20px;

            .left-concert {
                display: block;
                font-size: 12px;
            }
        }

        .a-propos {
            padding: 20px 0;

            .a-propos-content {
                font-size: 12px;
                text-align: justify;
                text-transform: none;
            }

            a {
                text-decoration: none;
            }
        }

    }

    .right-block {
        width: 80%;
        background-color: grey;
        display: block;

        .name-banner {
            color: white;
            text-transform: uppercase;
            position: relative;
            height: 40px;
            padding: 15px 0 0 0;
            font-size: 30px;
            background-color: $navigation-color;
        }

        .bottom-banner {
            width: 100%;
            color: black;

            .container-bottom-nav {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 60px;
                background-color: $navigation-color;

                .nav-element {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $text-color;
                    padding: 0 3px;
                    margin: 0 2px;
                    width: 120px;
                    height: 25px;
                    text-align: center;
                    background-color: black;
                    float: bottom;
                }

                a {
                    border-style: solid;
                    border-width: 0 0 2px 0;
                    border-color: transparent;
                }

                a:hover {
                    border-style: solid;
                    border-width: 0 0 2px 0;
                    border-color: #ffe700;
                }

            }
        }

        .la-flemme {
            color: red;
            width: 100%;
            height: 30px;
            background-color: black;
        }
    }
}

.home-video {
    background-color: pink;
    position: relative;
    height: 1000px;
    width: 100%;

    iframe {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        }
}


.fresh-news{
    background-color: orange;
    position: relative;
    }



@media only screen and (min-width: 650px) {


.top-home {
    width: 100%;
    background-color: purple;
    position: relative;


    nav {
        background-color: $navigation-color;
        display: flex;
        justify-content: space-between;

        .nav-icons {
            display: flex;
            padding: 0 0 0 30px;}

            }
            }

}