.page_navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;

  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 12px;
  }

  a:hover {
    color: white;
    background-color: #ffe700;
  }

  .nav_logo {
      height: 30px;
  }

  .nav_item {
    padding: 10px;
  }
}
