$yellow-color: #ffe700;
$background-color: black;
$navigation-color: black;

body {
  padding: 0;
  margin: 0;
  font-family: 'Daniel';
  -webkit-animation: bugfix infinite 1s;
  height: calc(100% - 10px);

  height: 100%;
}

.social_navigation {
  display: flex;
  align-items: center;
  background-color: palevioletred;
  a {
    text-decoration: none;
  }

  .nav_logo {
    height: 30px;
  }

  .nav_item {
    padding: 10px;
  }
}