@charset "utf-8";

.subscriber {
    font-family: Arsenal, arial, sans-serif;
    position: relative;
}

.subscriber form {
    display: none;
}

.subscriber button {
    width: auto;
    height: auto;
    padding: .75em 1em;
    font-size: .75em;
    background: #FFF;
    color: #000;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

.subscriber button:hover {
    background: #FFD946;
}

.subscriber input {
    background: none;
    border: none;
    border-bottom: 3px solid #FFF;
    padding: .25em .5em;
    outline: none;
    caret-color: #F2CC45;
    color: #F2CC45;
}

.subscriber input:focus {
    border-bottom-color: #F2CC45;
}

.subscriber input::placeholder {
    color: #999;
}

.subscriber p {
    font-size: inherit;
    text-align: left;
}

.subscriber.submitted .toggle {
    display: none;
}

.subscriber.submitted.mobile-modal-active .toggle {
    display: block;
}

.subscriber .busy {
    background: rgba(0,0,0,.35);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .subscriber.mobile-modal-active {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: #F2CC45;
        color: #000;
        font-size: 1.5em;
    }

    .subscriber.mobile-modal-active button{
        font-size: .75em;
    }

    .subscriber.mobile-modal-active button:hover,
    .subscriber.mobile-modal-active button:active{
        background: #000;
        color: #FFF;
    }

    .subscriber.mobile-modal-active form{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        padding: 2em;
        box-sizing: border-box;
    }

    .subscriber.mobile-modal-active input {
        width: 300px;
        max-width: 100%;
        box-sizing: border-box;
        font-size: 1em;
        text-align: center;
        color: #000;
    }

    .subscriber.mobile-modal-active input::placeholder {
        color: #000;
    }

    .subscriber.mobile-modal-active input:focus {
        border-bottom-color: #000;
    }

    .subscriber.mobile-modal-active .mobile-only.toggle {
        position: absolute;
        top: 1em;
        right: 1em;
    }

    .subscriber .mobile-only.toggle .if-active{
        display: none;
    }

    .subscriber.mobile-modal-active .mobile-only.toggle .if-active{
        display: block;
    }

    .subscriber.mobile-modal-active .mobile-only.toggle .if-inactive{
        display: none;
    }

    .subscriber .mobile-title {
        display: block;
        padding: 1em 0;
    }

    .subscriber.mobile-modal-active button {
        display: block;
        margin: 1em auto;
    }
}

@media screen and (min-width: 768px) {
    .subscriber  form{
        display: block;
    }

    .mobile-toggle {
        display: none;
    }

    .subscriber .desktop-title {
        display: inline-block;
    }
}